body{
	font: 20px Time New Roman, sans-serif;
	line-height: 1.8;
    color: #f5f6f7;
}
p {
	font-size: 16px;
	color:#000000;
}
.margin {margin-bottom: 45px;}

.naglowek{
	background-color: #C1C2B2;
}
 .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }

.margin{
	
	color:#000000;
}

.onas{
	background-color: #E8E2BE;
}

.kontakt{
	background-color: #D2EAE6;
}



.glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #f4511e;
}
.stopka { 
      background-color: #000000;
}


.navbar {
    margin-bottom: 0;
    background-color: #000000;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #000000 !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}