body{
	font: 20px Time New Roman, sans-serif;
	line-height: 1.8;
    color: #f5f6f7;
}
p {font-size: 16px;}
.margin {margin-bottom: 45px;}

.naglowek{
	background-color: #7f7f7f;
}
 .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }

.margin{
	
	color:#000000;
}

.onas{

}

.kontakt{
	background-color: #D2EAE6;
}

   .stopka { 
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
  }