@font-face {
font-family: 'Broadway BT';
font-style: normal;
font-weight: normal;
src: local('Broadway BT'), url('fonts/8094231822.woff') format('woff');
}

body{
	font: 20px Time New Roman, sans-serif;
	line-height: 1.8;
    color: #f5f6f7;
}
p {
	font-size: 16px;
	color:#000000;
}
.margin {margin-bottom: 45px;}

.naglowek{


}
 .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }

.margin{
	
	color:#000000;
}

.onas{
	background-color: #E7CEA6;
}

.kontakt{
	background-color: #E7CEA6;
}



.glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #ffffff;
}
.stopka { 
      background-color: #000000;
}


.navbar {
    margin-bottom: 0;
    background-color: #000000;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #000000 !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}




#intro{
    background:url(img/slider.jpg) 50% 0 no-repeat fixed;
    color: white;
    height: 800px;
    margin: 0 auto;
    padding: 0;
}



.story{
    margin: 0 auto;
    min-width: 980px;
    overflow: auto;
    width: 980px;
}

.story .float-left, .story .float-right{
    padding: 100px 0 0 0;
    position: relative;
    width: 350px;   
}

.nazwa-firmy{
    padding: 150px;

}

.napisserwis{
    font-size: 30px;
}






.w3-center{
    text-align:center!important;
}

.w3-padding-xlarge{
    padding:16px 32px!important;
}

.w3-black,.w3-hover-black:hover{
    color:#fff!important;background-color:#000!important;
}

.w3-xlarge{
    font-size:90px!important;
    }

.w3-wide{
    font-family:'Broadway BT';
}

.w3-animate-opacity{
    -webkit-animation:opac 1.5s;
    animation:opac 1.5s
}

.w3-display-middle{
    position:absolute;top:40%;
    left:50%;
    transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
}




@media only screen and (max-width: 320px) {
    
    .w3-xlarge{
    font-size:20px!important;
    }
    #intro{
    height: 800px;
    margin: 0 auto;
    padding: 0;
    }
      .nazwa-firmy{
    padding: 60px;
    }

    .w3-display-middle{
    position:absolute;top:70%;
    }

    .napisserwis{
    font-size: 20px;
}


  
}

@media only screen and (min-width: 320px) and (max-width: 600px ){
   
    .w3-xlarge{
    font-size:28px!important;
    }

    #intro{
    height: 800px;
    margin: 0 auto;
    padding: 0;
    }

    .nazwa-firmy{
    padding: 80px;
    }

    .w3-display-middle{
    position:absolute;top:65%;
    }

    .napisserwis{
    font-size: 24px;
}

  
}

@media only screen and (min-width: 600px) and (max-width: 800px) {
    
    .w3-xlarge{
    font-size:55px!important;
    }

    #intro{
    height: 800px;
    margin: 0 auto;
    padding: 0;
    }

    .nazwa-firmy{
    padding: 100px;
    }

    .w3-display-middle{
    position:absolute;top:45%;
    }

    .napisserwis{
    font-size: 30px;
}

  
}

@media only screen and (min-width: 750px) and (max-width: 1040px) {
    
    .w3-xlarge{
    font-size:55px!important;
    }

    #intro{
    height: 800px;
    margin: 0 auto;
    padding: 0;
    }

    .nazwa-firmy{
    padding: 100px;
    }

      .w3-display-middle{
    position:absolute;top:55%;
    }

    .napisserwis{
    font-size: 30px;
}

  
}


